# Digital Marketing Analytics - Group Assignment 1

## Import libraries

In [10]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

## EDA

In [11]:
customers = pd.read_csv('datasets/DMEFExtractSummaryV01.csv')
contacts = pd.read_csv('datasets/DMEFExtractContactsV01.csv')
orders = pd.read_csv('datasets/DMEFExtractOrdersV01.csv')
line_items = pd.read_csv('datasets/DMEFExtractLinesV01.csv')

In [12]:
customers.head(5)

,Cust_ID,SCF_Code,RetF07Dollars,RetF07Trips,RetF07Lines,RetS07Dollars,RetS07Trips,RetS07Lines,RetF06Dollars,RetF06Trips,...,IncCode,HomeCode,Child0_2,Child3_5,Child6_11,Child12_16,Child17_18,Dwelling,LengthRes,HomeValue
0,22120,346,0,0,0,0,0,0,14,1,...,8,2,N,N,N,N,N,1,8,0
1,24436,,0,0,0,0,0,0,0,0,...,,,N,N,N,N,N,,3,0
2,29278,85,0,0,0,0,0,0,63,2,...,9,2,N,N,N,N,N,2,2,0
3,50011,,0,0,0,0,0,0,0,0,...,,,,,,,,,,
4,51943,,0,0,0,0,0,0,0,0,...,,,,,,,,,,

In [7]:
customers.columns

Index(['Cust_ID', 'SCF_Code', 'RetF07Dollars', 'RetF07Trips', 'RetF07Lines',
       'RetS07Dollars', 'RetS07Trips', 'RetS07Lines', 'RetF06Dollars',
       'RetF06Trips',
       ...
       'IncCode', 'HomeCode', 'Child0_2', 'Child3_5', 'Child6_11',
       'Child12_16', 'Child17_18', 'Dwelling', 'LengthRes', 'HomeValue'],
      dtype='object', length=170)

In [8]:
# Merge operations
df1 = pd.merge(customers, contacts, on='Cust_ID', how='left')
df2 = pd.merge(df1, orders, on='Cust_ID', how='left')
final_df = pd.merge(df2, line_items, on=['Cust_ID', 'OrderNum'], how='left')